* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* style guide */
p {
  font-size: 16px;
  font-weight: 400;
  font-family: Neue Haas Unica;
}

/* font-weight */
.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

/* font-size */
.fs-16 {
  font-size: 16px;
}

.fs-24 {
  font-size: 24px;
}

.fs-34 {
  font-size: 34px;
}

.fs-42 {
  font-size: 42px;
}

.fs-47 {
  font-size: 47px;
}

/* line-height */
.lh-44 {
  line-height: 44px;
}

h1 {
  font-size: 47px;
  font-weight: 700;
  font-family: Neue Haas Unica;
}

.theme-container {
  width: 80%;
  margin: auto;
}

.h-50 {
  height: 50px !important;
}

.border-theme-radius {
  border-radius: 6px;
}

.mx-20 {
  margin-left: 10px;
  margin-right: 10px;
}

.theme-text {
  color: #78A240;
}

.light-bg-blue {
  background-color: #FAFBFE;
}

.cursor-pointer {
  cursor: pointer;
}

.border-theme-left {
  border-left: 1px solid #00000014;
}

.box-shaddow-theme {
  box-shadow: 0px 1px 2px 0px #00000040;
}

.theme-bg-green {
  background-color: #78A240;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100%;
}

.label {
  font-family: Neue Haas Unica;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.input-text {
  font-family: Neue Haas Unica;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.table-body-content {
  font-family: Neue Haas Unica;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-align: left;
}

.modal-heading {
  font-family: Neue Haas Unica;
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

.products-name {
  font-family: Neue Haas Unica;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
}

.product-buttom {
  font-family: Neue Haas Unica;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: white;
  text-align: left;
  box-shadow: 0px 1px 2px 0px #00000033;
  background: #78A240;
}

.accordion-heading {
  font-family: Neue Haas Unica;
  font-size: 50px;
  font-weight: 600;
  line-height: 60.95px;
  text-align: left;
}

.form-control {
  width: auto !important;
}

.footer-body {
  font-family: Neue Haas Unica;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.footer-header {
  font-family: Neue Haas Unica;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 20px;
  text-align: left;
}

.terms-condition {
  font-family: Neue Haas Unica;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
}

/* style guide */


/* select workspace*/
.create-workspace-Products {
  background-image: repeating-linear-gradient(6deg, #78A240, #78A240 9px, transparent 9px, transparent 13px, #78A240 13px), repeating-linear-gradient(96deg, #78A240, #78A240 9px, transparent 9px, transparent 13px, #78A240 13px), repeating-linear-gradient(186deg, #78A240, #78A240 9px, transparent 9px, transparent 13px, #78A240 13px), repeating-linear-gradient(276deg, #78A240, #78A240 9px, transparent 9px, transparent 13px, #78A240 13px);
  background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.producteditbutton {
  border: 1px solid #9A9A9A;
  padding: 5px;
  border-radius: 30px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.toolbaar-arrow {
  right: 9px;
  top: 15px;
  position: absolute;
}

.selct-container {
  background-image: url('../img/Frame_bg.png');
  width: 100%;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.worksapce-button {
  width: 195px;
  height: 45px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid black;
  font-weight: 500;
  font-size: 16;
}

.worksapce-dropdown {
  width: 321px;
  height: 45px;
  align-items: center;
  padding-left: 16px;
  background-color: white;
  margin-right: 27px;
  border: 0;
  border-radius: 30px;
  display: flex;
  box-shadow: 0px 2px 5px 0px #00000026;
  justify-content: start;
}

.search-input {
  width: 321px !important;
  margin-right: 27px;
  border: 0;
  height: 45px;
  padding-left: 20px;
  outline: 0 !important;
  border-radius: 30px;
  box-shadow: 0px 2px 5px 0px #00000026;
}
/* select workspace*/


/* footer css */
.footer {
   
  background: radial-gradient(100% 100% at 0% 45.1%, #FFFFFF 1.5%, rgb(163 188 129 / 20%) 24.14%, rgb(255 255 255 / 15%) 120%);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 45px 0;

}

.footer a {
  color: #333;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .footer-logo {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 23px;
}

.footer p {
  font-size: 15px;
  margin: 0;
}

.footer .social-icons a {
  margin-right: 15px;
  font-size: 20px;
  color: #333;
}

.footer-bottom {
  width: 85%;
  margin: auto;
  margin-top: 80px;
  border-top: 1px solid #444444;
  padding-top: 40px;
  font-size: 12px;
  text-align: center;
}
/* footer css */

/* work-space Product */

.workspace-Product-card {
  width: 100%;
  height: 353px !important;
}


.workspace-Product-body {
  box-shadow: 0px 0px 2px 0px #00000040;
  display: flex;
  border-radius: 0 0 5px 5px;
  background: white;
  padding: 10px !important;
  justify-content: space-between;
  align-items: center;
}

.backdrop-content {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  position: absolute;
  bottom: 0;
  padding: 10px 10px;
  z-index: 999;
  color: white;
  width: 100%;
  display: flex;
  align-items: end;
  height: 145px;
}

/* work-space Product */
