<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Company</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</head>
<body>

    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".modal">
       Create WorkSpace
    </button>

    <div class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create WorkSpace </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter your name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="country">Country</label>
                    <select class="form-control" id="country">
                      <option value="IN" selected>India</option>
                      <option value="US">United States</option>
                      <option value="UK">United Kingdom</option>
                      <option value="AU">Australia</option>
                      <option value="CA">Canada</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" id="description" rows="3" placeholder="Enter description"></textarea>
                </div>
                <div class="form-group">
                  <label for="projectImage">Project Image</label>
                  <input type="file" class="form-control-file" id="projectImage">
                </div>
                <div class="form-group">
                  <label for="template">Template</label>
                  <select class="form-control" id="template">
                    <option value="aluminium" selected>Aluminium</option>
                    <option value="steel">Steel</option>
                    <option value="wood">Wood</option>
                    <option value="plastic">Plastic</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <div class="w-100">
                <button type="button" class="btn btn-light btn-block">Edit</button>
              </div>
              <div class="w-100">
                <button type="button" class="btn btn-success btn-block" data-dismiss="modal">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>

</body>
</html>
