<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">

</head>

<body>
    <footer class="footer">
        <div class="theme-container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer-logo cursor-pointer">
                        <img src="{{ url_for('static', filename='img/ecompass-logo.png') }}" width="248px"
                            height="50px">
                    </div>
                    <p class="pr-5 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna aliqua.</p>
                </div>
                <div class="col-lg-2">
                    <h5 class="mb-4 footer-header ">Company</h5>
                    <ul class="list-unstyled">
                        <li><a class="footer-body" href="#">About Us</a></li>
                        <li><a class="footer-body" href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5 class="mb-4 footer-header ml-4">Help Center</h5>
                    <ul class="list-unstyled ml-4">
                        <li><a class="footer-body" href="#">FAQs</a></li>
                        <li><a class="footer-body" href="#">Submit Request</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5 class="mb-4 footer-header">Contact Info</h5>
                    <ul class="list-unstyled">
                        <li class="footer-body">Contact: 1234567890</li>
                        <li class="footer-body">Address: 100 Smart Street, LA, USA</li>
                    </ul>
                    <div class="social-icons mt-5">
                        <a href="#"><img src="{{ url_for('static', filename='img/fb-icon.svg') }}"></a>
                        <a href="#"><img src="{{ url_for('static', filename='img/twitter-icon.svg') }}"></a>
                        <a href="#"><img src="{{ url_for('static', filename='img/insta-icon.svg') }}"></a>
                        <a href="#"><img src="{{ url_for('static', filename='img/linkedin-icon.svg') }}"></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-6 text-left">
                    <a class="terms-condition" href="#">privacy policy</a> <a class="terms-condition ml-5"
                        href="#">terms and conditions</a>
                </div>
                <div class="col-md-6 text-right terms-condition">
                    © 2024 scs global | All rights reserved
                </div>
            </div>
        </div>
    </footer>
</body>

</html>